* {
    margin: 0;
    padding: 0;
    font-family: "popins", sans-serif;
    box-sizing: border-box;
}

body {
background-color: #e5e5f7;
background-image: radial-gradient(#444cf7 0.5px, #fbdfe8 0.8px);
background-size: 10px 10px;
}

 .app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0; /* top, right & left, bottom */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(89, 190, 191, 0.4);
}

 .app h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: cursive;     
    color: #12b04e;
    border-bottom: 1px solid #12b04e;
    padding-bottom: 30px;
}

 .quiz {
    padding: 20px 0; /* top & bottom, right & left */
 }

 .quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: #519ffd;
    padding-bottom: 30px;
 }

 .btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #12b04e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease; /* all is for all properties, 0.3s is for speed, ease is for animation */
}

 .btn:hover:not([disabled]) { /* hover works only if the button is not disabled */
    background: #519ffd;  
    color: #fff;
    opacity: 0.6;
}

.btn:disabled {
    cursor: no-drop; /* cursor will become no-drop when the button is disabled */
}

 #next-btn {
    background: #12b04e;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}

 .correct {
    background: #9aeabc;
}

 .incorrect {
    background: #ff9393
}
 